body{
    background: #b2deff;
    font-family: "Inter", sans-serif;
    color: #222222;
    margin-left : 100px;
    margin-right: 100px;
}
h1{
    background: #111111;
    color: #ffffff;
    text-align: center;
}
.about{
    display: flex;
    align-items: flex-start;
    background: #f3f4f6;
    padding: 1%;
}

a {
    text-decoration: none;
    color: purple;
}

/*img {
  width: 100%;
  height: auto;
}*/

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} /* condensed to save space */

.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}

.project p { /* change the appearance of paragraph tags inside .project divs */
text-align: center;
margin: 15px;
}

.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}