body{
    background-color: #f4f4f4;
    font-family: "Inter", sans-serif;
    color: #222222;
    margin: 60px;
}
h1{
    background: #111111;
    color: #ffffff;
    text-align: center;
    padding: 4rem 1rem;
}
.about{
    background: #f3f4f6;
}