body{
    background: #b2deff;
    font-family: "Inter", sans-serif;
    color: #222222;
    margin-left : 100px;
    margin-right: 100px;
}
h1{
    background: #111111;
    color: #ffffff;
    text-align: center;
}
.about{
    background: #f3f4f6;
    padding: 1%;
}

a {
    text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} /* condensed to save space */

.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}