body{
    background: #b2deff;
    font-family: "Inter", sans-serif;
    color: #222222;
    margin: 60px;
}
h1{
    background: #111111;
    color: #ffffff;
    text-align: center;
}
.about{
    background: #f3f4f6;
    padding: 2%;
}